*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* COMMON  */
.margin-top-100{
    margin-top: 100px;
}
.d-flex{
    display: flex;
}
.wrap{
    flex-wrap: wrap;
}
.hidden{
    display: none;
}
.bg_grey{
    background-color: gray;
}
.rounded{
    border-radius: 50%;
}
.end{
    justify-content: end;
}
.center{
    text-align: center;
}
.right{
    text-align: right;
}
/* COLORS  */
.white{
    color: white;
}
.grey{
    color: gray;
}
/* MACRO BLOCCHI */
#top{
    display: flex;
    /* background-color: yellow; */
}
#sidebar{
    height: calc(100vh - 100px);
    width: 75px;
    background-color: rgb(0, 0, 0);
}
#main-content{
    background-color: rgb(18, 26, 36);
    width: calc(100vw - 75px);
    height: calc(100vh - 100px);
    overflow-y: auto;
}
#bottom{
    height: 100px;
    width: 100%;
    background-color: rgb(71, 71, 71);
    position: fixed;
}
header{
    height: 100px;
    width: calc(100vw - 75px);
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    right: 0;
}
/* BLOCK HEADER  */
header .row{
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}
header button{
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    border: 1px solid white;
    border-radius: 20px;
    padding: 10px 40px;
}
header button:hover{
    cursor: pointer;
    font-size: 15px;
}
/* BLOCKS IN MAIN-CONTENT  */
.container{
    width: 100%;
    height: 100%;
}
.row{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}
/* CONTENT IN MAIN  */
.col-100 ul.d-flex{
    list-style-type: none;
    justify-content: center;
}
.col-100 ul.d-flex li{
    margin: 10px 20px 20px 0px;
    color: gray;
    font-weight: 500;
    font-size: 15px;
}

h3{
    font-size: 30px;
    margin-top: 20px;
}
.content > img{
    width: 100%;
}
#top div.white{
    font-size: 20px;
    font-weight: 600;
    margin: 10px 0;
}
#main-content li:hover{
    color: white;
    cursor: pointer;
}


/* BLOCK IN SIDEBAR  */
#sidebar .row{
    height: calc(100vh - 100px);
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: nowrap;
}
.logo{
   margin: 5px;
}
.img-logo img,
.logo img{
    width: 100%;
    padding: 5px;
   
}
.small{
    height: 30px;
}
#sidebar .content > .logo > .grey{
    padding-top: 5px;
}
#sidebar hr{
    width: 80%;
    margin: 10px 20px 20px 20px ;
    color: lightslategray;
}
#sidebar h4{
    margin: 20px 10px;
}
#sidebar span.grey{
    padding-top: 10px;
}
#sidebar li.grey{
    margin: 10px;
    list-style-type: none;
}
#sidebar span.white{
    padding: 10px;
    font-size: 20px;
}
#sidebar ul.overflow{
    height: 25vh;
    overflow-y: auto;
}
#sidebar i{
    width: 20%;
    margin-left: 10px;
}
#sidebar .grey:hover{
    color: white;
    cursor: pointer;
}
#sidebar span.white{
    padding: 10px 5px 0;
    font-size: 15px;
}

/* BLOCKS FOOTER  */
#bottom .row{
    justify-content: space-between;
    margin: 10px ;
}

#bottom .img-song img{
    width: 30px;
    height: 30px;
    
}

.long{
    text-align: center;
}
#bottom .long input{
    width: 80%;
} 
.icons div{
    display: flex;
    text-align: center;
    flex-direction: column;
}

.icons i{
    padding: 5px;
}


.player{
    text-align: center;
}
.player i{
    padding: 10px 5px;
    vertical-align: middle;
}
.player i.bigger{
    font-size: 25px;
}
i.bigger:hover{
    font-size: 30px;
    cursor: pointer;
}
hr.bg_gray-song{
    border: none;
    width: 60%;
    float: right;
    border-radius: 0 25px 25px 0;
    height: 8px;
    margin: 0;
    background: rgb(118, 117, 117);
}
hr.bg_white-song{
    border: none;
    float: right;
    width: 30%;
    background-color: rgb(255, 255, 255);
    height: 8px;
    margin: 0;
    border-radius: 25px 0 0 25px
}
hr.bg_gray{
    border: none;
    width: 20%;
    float: right;
    height: 8px;
    margin:25px 20px 0 0;
    border-radius: 0 25px 25px 0;
    background: rgb(118, 117, 117);
}
hr.bg_white{
    border: none;
    float: right;
    width: 10%;
    background-color: rgb(255, 255, 255);
    height: 8px;
    margin: 25px 0 0 0;
    border-radius: 25px;

}


#bottom .song:hover .bg_white-song{
    background-color: green;
}
#bottom .song:hover .bg_gray-song::after{
    content: '';
    border: 1px solid rgb(43, 43, 43);
    background-color: white;
    border-radius: 50%;
    height: 15px;
    width: 15px;
    position: absolute;
    top: 40px;
    right: 60%;
    cursor: pointer;
}
#bottom .volume:hover .bg_white{
    background-color: green;
}
#bottom .volume:hover .bg_gray::after{
    content: '';
    border: 1px solid rgb(43, 43, 43);
    background-color: white;
    border-radius: 50%;
    height: 15px;
    width: 15px;
    position: absolute;
    top: 20px;
    right: calc(20% + 20px);
    cursor: pointer;
}
#bottom .name .grey:hover{
    color: #fff;
    cursor: pointer;
}
#bottom .icons div i:hover{
    color: #fff;
    cursor: pointer;
}
/* COLUMN  */
.col{
     
    margin: 10px;
}
.col-30{
    width: calc(100% / 3 - 20px);
    height: 50px;
    margin: 10px 0;
    position: relative;
}
.xl{
    width: 150px;
   
}
.col-50{
    width: calc(50% - 20px);
    margin: 10px;
}

.col-100{
    width: 100%;
    margin: 10px;
}

@media screen and (min-width: 576px) {
    #sidebar{
        width: 200px;
    }
    header{
        width: calc(100vw - 200px);
    }
    #main-content{
        width: calc(100vw - 200px);
    }
    .hidden{
        display: block; 
    }
    .show{
        display: none;
    }
    .logo img{
        width: 30px;
    }
    .img-logo img{
        width: 80%;
    }
    .logo{
        display: flex;
    }
    .icons div{
        display: inline-block;
        padding-top: 10px;
    }
    .col-30{
        width: calc(100% / 3 - 20px);
    }
    #bottom div.white{
        margin: 5px 10px;
    }
    #bottom div.grey{
        margin: 0px 10px;
    }
    #bottom .img-song img{
        width: 50px;
        height: 50px;
        
    }
    
    
}
@media screen and (min-width: 768px) {
    .col-50{
        width: calc(100% / 4 - 20px);
    }
   
}
@media screen and (min-width: 992px) {
    .col-50{
        width: calc(100% / 6 - 20px);
    }
}