*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* COMMON  */
.margin-top-100{
    margin-top: 100px;
}
.d-flex{
    display: flex;
}
.wrap{
    flex-wrap: wrap;
}
.hidden{
    display: none;
}
.bg_grey{
    background-color: gray;
}
.rounded{
    border-radius: 50%;
}
.end{
    justify-content: end;
}
.center{
    text-align: center;
}
/* COLORS  */
.white{
    color: white;
}
.grey{
    color: gray;
}
/* MACRO BLOCCHI */
#top{
    display: flex;
    /* background-color: yellow; */
}
#sidebar{
    height: calc(100vh - 100px);
    width: 75px;
    background-color: rgb(0, 0, 0);
}
#main-content{
    background-color: rgb(18, 26, 36);
    width: calc(100vw - 75px);
    height: calc(100vh - 100px);
    overflow-y: auto;
}
#bottom{
    height: 100px;
    width: 100%;
    background-color: rgb(71, 71, 71);
    position: fixed;
}
header{
    height: 100px;
    width: calc(100vw - 75px);
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    right: 0;
}
/* BLOCK HEADER  */
header .row{
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}
header button{
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    border: 1px solid white;
    border-radius: 20px;
    padding: 10px 40px;
}
/* BLOCKS IN MAIN-CONTENT  */
.container{
    width: 100%;
    height: 100%;
}
.row{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}
/* CONTENT IN MAIN  */
.col-100 ul.d-flex{
    list-style-type: none;
    justify-content: center;
}
.col-100 ul.d-flex li{
    margin: 10px 10px 20px 0px;
    color: gray;
    font-weight: 550;
    font-size: 15px;
}

h3{
    font-size: 30px;
    margin-top: 20px;
}
.content > img{
    width: 100%;
}
div.white{
    font-size: 20px;
    font-weight: 600;
    margin: 10px 0;
}


/* BLOCK IN SIDEBAR  */
#sidebar .row{
    height: calc(100vh - 100px);
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: nowrap;
}
.logo{
   margin: 5px;
}
.img-logo img,
.logo img{
    width: 100%;
    padding: 5px;
   
}
.small{
    height: 30px;
    margin-bottom: 5px;
}
hr{
    width: 80%;
    margin: 10px 20px 20px 20px ;
    color: lightslategray;
}
#sidebar h4{
    margin: 20px 10px;
}
#sidebar span.grey{
    padding-top: 10px;
}
#sidebar li.grey{
    margin: 10px;
    list-style-type: none;
}
#sidebar span.white{
    padding: 10px;
    font-size: 20px;
}
#sidebar ul.overflow{
    height: 25vh;
    overflow-y: auto;
}
#sidebar i{
    width: 20%;
    margin-left: 10px;
}
/* BLOCKS FOOTER  */
#bottom .row{
    justify-content: space-around;
}

#bottom .img-song img{
    width: 50px;
    height: 50px;
    
}
#bottom div.white{
    margin: 5px 10px;
}
#bottom div.grey{
    margin: 0px 10px;
}
.long{
    text-align: center;
}
#bottom .long input{
    width: 80%;
} 
.icons{
    display: flex;
    text-align: center;
}

.icons div i{
    padding: 20px 10px;
}
.player{
    text-align: center;
}
.player i{
    padding: 10px 10px;
    vertical-align: middle;
}
.player i.bigger{
    font-size: 25px;
}
.icons hr{
    border-radius: 50px;
    height: 5px;
    margin-top: 25px;
    background-color: white;
}

/* COLUMN  */
.col{
     /* width: 70%;  */
    /* background-color: rgb(239, 238, 240); */
    /* height: 20%; */
    /* border: 1px solid black; */
    margin: 10px;
}
.col-30{
    width: calc(30% - 20px);
    /* background-color: blueviolet; */
    height: 50px;
    margin: 10px;
}
.col-50{
    width: calc(50% - 20px);
    /* background-color: blueviolet; */
    /* height: 200px; */
    /* border: 1px solid black; */
    margin: 10px;
}

.col-100{
    width: 100%;
    /* background-color: red; */
    /* border: 1px solid black; */
    margin: 10px;
    /* height: 50px; */
}

@media screen and (min-width: 576px) {
    #sidebar{
        width: 200px;
    }
    header{
        width: calc(100vw - 200px);
    }
    #main-content{
        width: calc(100vw - 200px);
    }
    .hidden{
        display: block; 
    }
    .show{
        display: none;
    }
    .logo img{
        width: 40px;
    }
    .img-logo img{
        width: 80%;
    }
    .logo{
        display: flex;
    }
}
@media screen and (min-width: 768px) {
    .col-50{
        width: calc(100% / 4 - 20px);
    }
}
@media screen and (min-width: 992px) {
    .col-50{
        width: calc(100% / 6 - 20px);
    }
}